/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(246,248,249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* stile header */
.header{
    background-color: white;
    height: 80px;
    width: auto;
    padding: 10px;
}
#logo {
    width: 60px;
    height: auto;
    line-height: 60px;
    vertical-align: -25%;
}
#logotext {
    font-size: 40px;
}

/* stile main */
.main {
    color: rgb(68,72,81 );
}
/* stile barra */
.bar {
    padding-bottom: 10px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
    padding: 15px 3%;
    margin-top: 40px;
    margin-bottom: 2px;
    border-radius: 10px 10px 0px 0px;
}
.barbutton {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 8px 8px 8px 8px;   
}
.barbutton.button {
    background-color: rgb(71,173,241);
    color: white;
    margin-right: 5px;
}
.barbutton.text{
    border: solid 1px #ccc;
    width: 90px;
}

/* stile lista */
.mainlist {
    background-color: white;
    width: 80%;
    margin: 10px auto;
    padding: 10px 3%;
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
}
.list {
    padding-top: 30px;
    margin-top: 0px;
}
.listtitle {
    font-size: 25px;
}
.listitem {
    margin-top: 15px;
}
.listitemtext {
    font-size: 20px;
    padding-left: 10px;
}
.listitemstatus {
    text-align: center;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 13px 13px 13px 13px; 
    color: white;
    font-size: 11px;
}
.listitemstatus.editorial {
    background-color: rgb(71,173,241);
}
.listitemstatus.goals {
    background-color: rgb(156,114,228);
}
.listitemstatus.recruiting {
    background-color: rgb(100,192,169);
}
.listitemstatus.mobile {
    background-color: rgb(242,158,51);
}
.listitemstatus.website {
    background-color: rgb(216,99,161);
}
.listitemstatus.sales {
    background-color: rgb(176,201,38);
}
.checkx {
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    padding: 1px;
}
.check {
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    padding: 1px;
}